<mat-card class="example-card" [@cardAnimator]="animationState"
          (@cardAnimator.done)="resetAnimationState()"
          (swipeleft)="startAnimation('slideOutLeft')"
          (swiperight)="startAnimation('zoomOutRight')"
          (swipeup)="startAnimation('rotateOutUpRight')"
          (swipedown)="startAnimation('flipOutY')">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Risk register</mat-card-title>
  </mat-card-header>

  <mat-card-actions>
    <button mat-button>Form</button>
    <button mat-button (doubleTap)="openUploadDialogue()">File</button>
  </mat-card-actions>
</mat-card>
